################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CRUD/.vs/CRUD/FileContentIndex/3b1815ab-4e67-4ad5-9bcb-0b0b3eb8e3c5.vsidx
.vs/
